.step:not(:last-child):after {
  content: '';
  position: absolute;
  top: 40px;
  right: -50px;
  width: 100px;
  height: 2px;
  background: #3498db;
}

@media (max-width: 992px) {
  .step:not(:last-child):after {
    display: none;
  }
}
